.circularChart {
    width: 160px;
    height: 160px;
    display: block;
    margin: auto;
  }

  .circularChart>svg {
    height: 100%;
    display: block;
  }

  .james-loading-gradient {
    background: linear-gradient(130deg, #798C93, #BFC6C6);
  }

  .james-good-gradient {
    background: linear-gradient(130deg, #61C67D, #AAEBAC);
  }

  .james-moderate-gradient {
    background: linear-gradient(130deg, #9ABE60, #D9EC93);
  }

  .james-unhealthy1-sensitivegroups-gradient {
    background: linear-gradient(130deg, #f6c23e, #FFEFC7);
  }

  .james-unhealthy2-unhealthy-gradient {
    background: linear-gradient(130deg, #FE9A71, #FFBC7A);
  }

  .james-unhealthy3-veryunhealthy-gradient {
    background: linear-gradient(130deg, #FE6B6F, #FF9C79);
  }

  .james-hazardous-gradient {
    background: linear-gradient(130deg, #912B52, #E96569);
  }

  .james-cursor {
    cursor: pointer;
  }

  .james-icon3 {
    width: 2.5em;
    height: 2.5em;
    /* width: 3em;
    height: 3em; */
  }

  .james-border {
    border-color: #d1d3e2;
    /* background-color: transparent; */
  }

  .james-overview-image {
    width: 45px;
    height: 45px;
  }

  .james-font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .james-floats-right {
    float: right;
  }

  .james-aqi-info-absolute {
    position: absolute;
    right: 0;
    padding-right: 20px;
  }

  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .james-description-card {
    max-width: 100%;
  }

  .james-description-card-text {
    word-wrap: break-word;
  }
  
  .james-description-text {
    word-wrap: break-word;
  }